body{
font-family: Futura;
font-size: 12px;

}

.redacted{
background-color: black;
color: transparent;
}

.revealed{
background-color: transparent;
color: red;
font-style: italic;
}

.found{
  background-color: yellow;
  color: black;
}

#found, #total{
  color: blue;
}
