body {

}
.container{
  display: none;
}
.intro{
  background-color: white;
  width: 100%;
  height: 100%;
  /* height element is weird: when using iMac: it only fills up window height when using
  100vh, but on  my Macbook, it only works when using 100% */
}
.intro h1 {
  color: black;
  position: absolute;
  margin-left: 50%;
  margin-top: 20%;
}
.body {
  /* // this is body class within prometheus class */
  /* background-color: red; */
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 0;
}

.background{
  width: 100%;
  height: 100%;
  /*// from stack overflow: othewise didn't know how to get height to fill screen */
}

.box{
  width: 800px;
  height: 650px;
  border-width: 7px;
  border-color: black;
  border-style: inset;
  margin:auto;
  background-color: red;
  z-index: -1;
}

.liver{
  /* // liver class also within prometheus class */
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 1;
  /* margin-left: 400px; */
  left: 400px;
}

.nest img {
  /* // these are chick images */
  width: 150px;
  margin-top: 450px;
  margin-left: 100px;
}

.vulture {
  /* // these vulture class divs hold chick images */
  float: left;
  width: 25%;
  padding: 5px;

}
.nest:: after{
 content: "";
 clear: both;
 display: table;
}
.button{
  width: 350px;
  height: 40px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-size: 16px;
  text-align: middle;
  vertical-align: middle;
  color: black;
  border-radius: 10px;
  border-color: black;
  border-style: dashed;
}

p {
  word-wrap: break-word;
  margin-left: 20%;
  margin-bottom: 15%;
}

#yes {
display: none;
}
#no{
display: none;
}
#uh{
  display:none;
}
