body {
  width: 100vh;
  height: 90vh;
  font-family: Courier;
  font-style: italic;
  /* note: the difference between oblique (same font at an angle) and italic (not the same characters, but complementary) */
  border-width: medium;
  border-style: double;
}

.postcard {
  border-style: double;
  border-width: medium;
  width: 600px;
  height: 600px;
  margin-top: 30px;
}

.centralContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .paletteBox {
 display: flex;

 flex-wrap: wrap;
} */

.color {
  width: 50px;
  height: 50px;
  background-color: red;
  border-style: double;
  border-width: thin;
  /* margin-left: 40px;
  margin-right: 40px; */
}

#colorPicker {
  background-color: green;
  border-style: double;
  border-width: thin;
  width: 50px;
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

#colorPicker:hover, #download:hover, #evilEye:hover {
  background-color: white;
  border-style: double;
  border-width: medium;
}

#evilEye {
  background-color: black;
  border-style: double;
  border-width: thin;
  width: 50px;
  height: 50px;
  display: none;
  background-color: blue;
}

/* #evilEye:hover {
  background-color: pink;
} */

#blue{
  background-color: blue;
}

#red{
  background-color:red;
}
#yellow{
  background-color:yellow;
}
#download{
  background-color: pink;
}
#dialogueBox {
  width: 500px;
  height: 100px;
  /* border-width: medium;
  border-style: double; */
  left: 50px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
