body {
  width: 100vh;
  height: 90vh;
  font-family: Courier;
  /* note: the difference between oblique (same font at an angle) and italic (not the same characters, but complementary) */
  border-width: medium;
  border-style: double;
}

img {
  filter: opacity(100);
}

.intro {
  background-color: white;
  text-align: center;
  height: 200px;
  margin-top: 200px;
}

.intro p {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.5;
  ]
}

#enterGameButton:hover {
  color: yellow;
  font-style: oblique;
}

.postcard {
  border-style: double;
  border-width: medium;
  width: 600px;
  height: 600px;
  margin: 30px 10px 10px 10px;
  position: relative;
}

.centralContainer {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.color {
  width: 20px;
  height: 20px;
  border-style: double;
  border-width: thin;
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}

.gridWrapper {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

#colorPicker {
  /* border-style: double;
  border-width: thin; */
  width: 50px;
  height: 50px;
  margin: 10px 10px 10px 10px;
  /* margin-left: 40px;
  margin-right: 40px; */
}

#colorPicker:hover, #download:hover, #evilEye:hover {
  background-color: yellow;
  /* border-style: double;
  border-width: medium; */
}

#download {
  width: 50px;
  height: 50px;
  margin: 10px 10px 10px 10px;
}

#evilEye {
  width: 50px;
  height: 50px;
  display: none;
  margin: 10px 10px 10px 10px;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#dialogueBox {
  width: 500px;
  height: 100px;
  /* border-width: medium;
  border-style: double; */
  left: 50px;
  bottom: 100px;
  display: none;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  text-shadow: 8px 10px 8px black;
  font-style: italic;
}

.wrapper .text {
  visibility: hidden;
}
